<a href="https://colab.research.google.com/github/ngthvan02/AI/blob/main/BT01%20Nguy%E1%BB%85n%20Thanh%20V%C4%83n%2020146181.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
value1= input(' Nhap vao so thu 1')
value2= input(' Nhap vao so thu 2')
value1+value2

 Nhap vao so thu 12
 Nhap vao so thu 222

'222'

In [ ]:
with open('text.txt',mode='w') as accounts:
  accounts.write('20146 Nguyen Van A 10\n')
  accounts.write('201462 Le Van B 6\n')
  accounts.write('201463 Tran Van C 8\n')

In [ ]:
with open('text1.txt',mode='w') as accounts:
  print('201461 Nguyen Van A',file=accounts)

In [36]:
with open('text2.txt',mode='r') as accounts:
  print(f"{'mssv':<10}{'name':<20}{'score':>2}")
  for record in accounts:
    mssv ,name ,score =record.split()
    print(f"{'mssv':<10}{'name':<20}{'score':>1}")

FileNotFoundError: ignored

In [31]:
import pandas as pd
url='AITUAN2.csv'
dataframe=pd.read_csv(url)
dataframe.head(21)

    No      MSSV           Họ và tên Khoa  Điểm
0    1  20146589   Mai Thị Tuấn Kiệt  CKM    10
1    2  19586355  Bùi Thị Thanh Kiệt  CKM    10
2    3  15896589      Trần Ngọc Phấn  CKM    10
3    4  18965632    Lý Thị Khải Hoàn  CKM    10
4    5  17856985  Bùi Thị Thanh Ngân  CKM    10
5    6  19654896     Trần Thanh Phát  CKM    10
6    7  21456985          Lý Mạc Sầu  CKM    10
7    8  19566589      Nguyễn Anh Thư  CKM    10
8    9  20146179        Lê Thanh Tâm  CKM    10
9   10  20146182        Lý Minh Nhựt  CKM    10
10  11  20146185         Trần Văn Hô  CKM    10
11  12  20146188      Nguyễn Thị Anh  CKM    10
12  13  20146191        Lê Minhh Hòa  CKM    10
13  14  20146194       Trần Khai Tâm  CKM    10
14  15  20146197       Nguyễn Văn Lé  CKM    10
15  16  20146200       Ninh Văn Minh  CKM    10
16  17  20146203       Trần Cao Bằng  CKM    10
17  18  20146206          Vũ Anh Thư  CKM    10
18  19  20146209      Trần Ánh Tuyết  CKM    10
19  20  20146212      Lê Ngô Anh Thư  CKM    10

In [33]:
import pandas as pd
url='AITUAN2.csv'
dataframe=pd.read_csv(url)
dataframe.loc[0:10]

    No      MSSV           Họ và tên Khoa  Điểm
0    1  20146589   Mai Thị Tuấn Kiệt  CKM    10
1    2  19586355  Bùi Thị Thanh Kiệt  CKM    10
2    3  15896589      Trần Ngọc Phấn  CKM    10
3    4  18965632    Lý Thị Khải Hoàn  CKM    10
4    5  17856985  Bùi Thị Thanh Ngân  CKM    10
5    6  19654896     Trần Thanh Phát  CKM    10
6    7  21456985          Lý Mạc Sầu  CKM    10
7    8  19566589      Nguyễn Anh Thư  CKM    10
8    9  20146179        Lê Thanh Tâm  CKM    10
9   10  20146182        Lý Minh Nhựt  CKM    10
10  11  20146185         Trần Văn Hô  CKM    10

In [37]:
import pandas as pd
url='AITUAN2.csv'
dataframe=dataframe.set_index(dataframe['Họ và tên'])
dataframe.loc['Lý Minh Nhựt']

No                     10
MSSV             20146182
Họ và tên    Lý Minh Nhựt
Khoa                  CKM
Điểm                   10
Name: Lý Minh Nhựt, dtype: object

In [41]:
import pandas as pd
url='AITUAN2.csv'
dataframe[dataframe['Họ và tên']=='Lý Mạc Sầu'].head(10)

            No      MSSV   Họ và tên Khoa  Điểm
Họ và tên
Lý Mạc Sầu   7  21456985  Lý Mạc Sầu  CKM    10

In [46]:
import pandas as pd
url='AITUAN2.csv'
dataframe[(dataframe['Họ và tên']=='Lý Mạc Sầu')&(dataframe['Khoa']=='CNTP')]

Empty DataFrame
Columns: [No, MSSV, Họ và tên, Khoa, Điểm]
Index: []

In [49]:
import pandas as pd
url='AITUAN2.csv'
dataframe['Khoa'].replace('CKN','Cơ Khí Máy').head(10)

Họ và tên
Mai Thị Tuấn Kiệt     CKM
Bùi Thị Thanh Kiệt    CKM
Trần Ngọc Phấn        CKM
Lý Thị Khải Hoàn      CKM
Bùi Thị Thanh Ngân    CKM
Trần Thanh Phát       CKM
Lý Mạc Sầu            CKM
Nguyễn Anh Thư        CKM
Lê Thanh Tâm          CKM
Lý Minh Nhựt          CKM
Name: Khoa, dtype: object

In [51]:
import pandas as pd
url='AITUAN2.csv'
dataframe.replace('CKN','Cơ Khí Máy').head(10)

                    No      MSSV           Họ và tên Khoa  Điểm
Họ và tên
Mai Thị Tuấn Kiệt    1  20146589   Mai Thị Tuấn Kiệt  CKM    10
Bùi Thị Thanh Kiệt   2  19586355  Bùi Thị Thanh Kiệt  CKM    10
Trần Ngọc Phấn       3  15896589      Trần Ngọc Phấn  CKM    10
Lý Thị Khải Hoàn     4  18965632    Lý Thị Khải Hoàn  CKM    10
Bùi Thị Thanh Ngân   5  17856985  Bùi Thị Thanh Ngân  CKM    10
Trần Thanh Phát      6  19654896     Trần Thanh Phát  CKM    10
Lý Mạc Sầu           7  21456985          Lý Mạc Sầu  CKM    10
Nguyễn Anh Thư       8  19566589      Nguyễn Anh Thư  CKM    10
Lê Thanh Tâm         9  20146179        Lê Thanh Tâm  CKM    10
Lý Minh Nhựt        10  20146182        Lý Minh Nhựt  CKM    10

In [54]:
import pandas as pd
url='AITUAN2.csv'
print('Điểm cao nhất',dataframe['Điểm'].max())

Điểm cao nhất 10

In [60]:
import pandas as pd
url='AITUAN2.csv'
print('Điểm thấp nhất',dataframe['Điểm'].min())

Điểm thấp nhất 10

In [63]:
import pandas as pd
url='AITUAN2.csv'
dataframe['Khoa'].unique()
dataframe['Khoa'].value_counts()

CKM    20
Name: Khoa, dtype: int64

In [65]:
import pandas as pd
url='AITUAN2.csv'
dataframe.drop('MSSV',axis=1).head(10)

                    No           Họ và tên Khoa  Điểm
Họ và tên
Mai Thị Tuấn Kiệt    1   Mai Thị Tuấn Kiệt  CKM    10
Bùi Thị Thanh Kiệt   2  Bùi Thị Thanh Kiệt  CKM    10
Trần Ngọc Phấn       3      Trần Ngọc Phấn  CKM    10
Lý Thị Khải Hoàn     4    Lý Thị Khải Hoàn  CKM    10
Bùi Thị Thanh Ngân   5  Bùi Thị Thanh Ngân  CKM    10
Trần Thanh Phát      6     Trần Thanh Phát  CKM    10
Lý Mạc Sầu           7          Lý Mạc Sầu  CKM    10
Nguyễn Anh Thư       8      Nguyễn Anh Thư  CKM    10
Lê Thanh Tâm         9        Lê Thanh Tâm  CKM    10
Lý Minh Nhựt        10        Lý Minh Nhựt  CKM    10

In [69]:
import pandas as pd
url='AITUAN2.csv'
dataframe.drop(['MSSV','Khoa'],axis=1).head(10)

                    No           Họ và tên  Điểm
Họ và tên
Mai Thị Tuấn Kiệt    1   Mai Thị Tuấn Kiệt    10
Bùi Thị Thanh Kiệt   2  Bùi Thị Thanh Kiệt    10
Trần Ngọc Phấn       3      Trần Ngọc Phấn    10
Lý Thị Khải Hoàn     4    Lý Thị Khải Hoàn    10
Bùi Thị Thanh Ngân   5  Bùi Thị Thanh Ngân    10
Trần Thanh Phát      6     Trần Thanh Phát    10
Lý Mạc Sầu           7          Lý Mạc Sầu    10
Nguyễn Anh Thư       8      Nguyễn Anh Thư    10
Lê Thanh Tâm         9        Lê Thanh Tâm    10
Lý Minh Nhựt        10        Lý Minh Nhựt    10

In [72]:
import pandas as pd
url='AITUAN2.csv'
dataframe.drop(dataframe.columns[2:4],axis=1).head(10)

                    No      MSSV  Điểm
Họ và tên
Mai Thị Tuấn Kiệt    1  20146589    10
Bùi Thị Thanh Kiệt   2  19586355    10
Trần Ngọc Phấn       3  15896589    10
Lý Thị Khải Hoàn     4  18965632    10
Bùi Thị Thanh Ngân   5  17856985    10
Trần Thanh Phát      6  19654896    10
Lý Mạc Sầu           7  21456985    10
Nguyễn Anh Thư       8  19566589    10
Lê Thanh Tâm         9  20146179    10
Lý Minh Nhựt        10  20146182    10

In [76]:
import pandas as pd
url='AITUAN2.csv'
dataframe[dataframe['Khoa']!='CKM'].head(10)

Empty DataFrame
Columns: [No, MSSV, Họ và tên, Khoa, Điểm]
Index: []

In [78]:
import pandas as pd
url='AITUAN2.csv'
dataframe[(dataframe['Điểm']!=10)].head(10)

Empty DataFrame
Columns: [No, MSSV, Họ và tên, Khoa, Điểm]
Index: []

In [81]:
import pandas as pd
url='AITUAN2.csv'
dataframe[dataframe.index!=10].head(10)

                    No      MSSV           Họ và tên Khoa  Điểm
Họ và tên
Mai Thị Tuấn Kiệt    1  20146589   Mai Thị Tuấn Kiệt  CKM    10
Bùi Thị Thanh Kiệt   2  19586355  Bùi Thị Thanh Kiệt  CKM    10
Trần Ngọc Phấn       3  15896589      Trần Ngọc Phấn  CKM    10
Lý Thị Khải Hoàn     4  18965632    Lý Thị Khải Hoàn  CKM    10
Bùi Thị Thanh Ngân   5  17856985  Bùi Thị Thanh Ngân  CKM    10
Trần Thanh Phát      6  19654896     Trần Thanh Phát  CKM    10
Lý Mạc Sầu           7  21456985          Lý Mạc Sầu  CKM    10
Nguyễn Anh Thư       8  19566589      Nguyễn Anh Thư  CKM    10
Lê Thanh Tâm         9  20146179        Lê Thanh Tâm  CKM    10
Lý Minh Nhựt        10  20146182        Lý Minh Nhựt  CKM    10

In [92]:
import pandas as pd
url='AITUAN2.csv'
dataframe.drop_duplicates().head(10)

                    No      MSSV           Họ và tên Khoa  Điểm
Họ và tên
Mai Thị Tuấn Kiệt    1  20146589   Mai Thị Tuấn Kiệt  CKM    10
Bùi Thị Thanh Kiệt   2  19586355  Bùi Thị Thanh Kiệt  CKM    10
Trần Ngọc Phấn       3  15896589      Trần Ngọc Phấn  CKM    10
Lý Thị Khải Hoàn     4  18965632    Lý Thị Khải Hoàn  CKM    10
Bùi Thị Thanh Ngân   5  17856985  Bùi Thị Thanh Ngân  CKM    10
Trần Thanh Phát      6  19654896     Trần Thanh Phát  CKM    10
Lý Mạc Sầu           7  21456985          Lý Mạc Sầu  CKM    10
Nguyễn Anh Thư       8  19566589      Nguyễn Anh Thư  CKM    10
Lê Thanh Tâm         9  20146179        Lê Thanh Tâm  CKM    10
Lý Minh Nhựt        10  20146182        Lý Minh Nhựt  CKM    10

In [85]:
import pandas as pd
url='AITUAN2.csv'
dataframe.groupby('Khoa').count()

      No  MSSV  Họ và tên  Điểm
Khoa
CKM   20    20         20    20

In [87]:
import pandas as pd
url='AITUAN2.csv'
dataframe.groupby(['Khoa','Điểm']).count()

           No  MSSV  Họ và tên
Khoa Điểm
CKM  10    20    20         20

In [89]:
import pandas as pd
url='AITUAN2.csv'
dataframe.groupby('Khoa')['Điểm'].count()

Khoa
CKM    20
Name: Điểm, dtype: int64

In [101]:
import pandas as pd
import numpy as np
time_index=pd.date_range('01/01/2023',periods=100000,freq='30s')
dataframe=pd.DataFrame(index=time_index)
dataframe['Acess_Amount']=np.random.randint(1,10,100000)
dataframe.resample('W').sum()

            Acess_Amount
2023-01-01         14255
2023-01-08        100807
2023-01-15        100620
2023-01-22        101223
2023-01-29        100593
2023-02-05         82414

In [102]:
import pandas as pd
url='Book3.csv'
dataframe=pd.read_csv(url)
dataframe.head(21)

    NO      MSSV            NAME        KHOA  SCORE
0    1  20146490  BÀNH THỊ BÉ TƯ      CƠ KHÍ      1
1    2  20146492   LÊ VĂN KHUYẾT         CKM      5
2    3  20146494  NGUYỄN VĂN TÀN      CƠ KHÍ      6
3    4  20146496   LÊ VĂN KHUYẾT        ĐIỆN      7
4    5  20146498        TRẦN NGŨ  THOI TRANG      6
5    6  20146500          LÊ TAM      CƠ KHÍ      3
6    7  20146502           LÝ TỨ      CƠ KHÍ      9
7    8  20146504     BÙI THỊ LỤC         CKM     10
8    9  20146506     ĐỆ VĂN THẤT      CƠ KHÍ      2
9   10  20146508         CAO BÁT  THOI TRANG      5
10  11  20146510   HUỲNH CỬU CỬU      CƠ KHÍ      9
11  12  20146512    THẬP VĂN CỪU         CKM      8
12  13  20146514  NGUYỄN THỊ SÓI      CƠ KHÍ      4
13  14  20146516    TRẦN VĂN CÁI  THOI TRANG      5
14  15  20146518     TRẦN THỊ NA      CƠ KHÍ      7
15  16  20146520   LÊ THỊ CẨM TÚ      CƠ KHÍ      2
16  17  20146522      MAI VĂN TẠ      CƠ KHÍ      1
17  18  20146524     LÊ THỊ THẮM  THOI TRANG      8
18  19  20146526    BA THỊ BÉ BA        ĐIỆN      9

In [122]:
import pandas as pd
url='http://winterolympicsmedals.com/medals.csv'
data=pd.read_csv(url)
dataframe.groupby('NOC')['Medal'].count()

NOC
AUS      6
AUT    185
BEL      5
BLR      6
BUL      6
CAN    119
CHN     33
CRO      7
CZE     10
DEN      1
ESP      2
EST      6
EUA     19
EUN     23
FIN    151
FRA     83
FRG     41
GBR     21
GDR    110
GER    158
HUN      6
ITA    101
JPN     32
KAZ      5
KOR     31
LAT      1
LIE      9
LUX      2
NED     78
NOR    280
NZL      1
POL      8
PRK      2
ROU      1
RUS     76
SLO      4
SUI    118
SVK      1
SWE    118
TCH     25
UKR      5
URS    194
USA    216
UZB      1
YUG      4
Name: Medal, dtype: int64

In [119]:
data[(data['Event']=='individual') & (data['Medal']=='Gold')].head(2300)
data[(data['Event']=='individual') & (data['Medal']=='Gold')].value_counts()

Year  City       Sport    Discipline       NOC  Event       Event gender  Medal
1924  Chamonix   Skating  Figure skating   AUT  individual  W             Gold     1
1972  Sapporo    Skating  Figure skating   TCH  individual  M             Gold     1
1976  Innsbruck  Skating  Figure skating   GBR  individual  M             Gold     1
                                           USA  individual  W             Gold     1
                 Skiing   Nordic Combined  GDR  individual  M             Gold     1
                                                                                  ..
1964  Innsbruck  Skating  Figure skating   NED  individual  W             Gold     1
                 Skiing   Nordic Combined  NOR  individual  M             Gold     1
1968  Grenoble   Skating  Figure skating   AUT  individual  M             Gold     1
                                           USA  individual  W             Gold     1
2006  Turin      Skating  Figure skating   RUS  individual  M             Gold     1
Length: 65, dtype: int64